@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #231557;
    --background: 0, 0%, 98%;
    --foreground: 0, 0%, 10%;

    --muted: 0, 0%, 90%;
    --muted-foreground: 0, 0%, 40%;

    --popover: 0, 0%, 95%;
    --popover-foreground: 0, 0%, 10%;

    --card: 0, 0%, 95%;
    --card-foreground: 0, 0%, 10%;

    --border: 0, 0%, 85%;
    --input: 0, 0%, 85%;

    --primary: 220, 90%, 56%;
    --primary-foreground: 0, 0%, 100%;

    --secondary: 0, 0%, 96%;
    --secondary-foreground: 0, 0%, 20%;

    --accent: 220, 90%, 56%;
    --accent-foreground: 0, 0%, 100%;

    --destructive: 0, 84%, 60%;
    --destructive-foreground: 0, 0%, 100%;
    --ring: 220, 90%, 56%;
    --radius: 1rem;
  }

  .dark {
    --gradient: #231557;
    --background: 0, 0%, 10%;
    --foreground: 0, 0%, 98%;

    --muted: 0, 0%, 20%;
    --muted-foreground: 0, 0%, 60%;

    --popover: 0, 0%, 15%;
    --popover-foreground: 0, 0%, 98%;

    --card: 0, 0%, 15%;
    --card-foreground: 0, 0%, 98%;

    --border: 0, 0%, 25%;
    --input: 0, 0%, 25%;

    --primary: 220, 90%, 56%;
    --primary-foreground: 0, 0%, 100%;

    --secondary: 0, 0%, 20%;
    --secondary-foreground: 0, 0%, 80%;

    --accent: 220, 90%, 56%;
    --accent-foreground: 0, 0%, 100%;

    --destructive: 0, 84%, 60%;
    --destructive-foreground: 0, 0%, 100%;
    --ring: 220, 90%, 56%;
    --radius: 1rem;
  }
}

* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
