@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #231557;
    --background: 269 98.05% 98.42%;
    --foreground: 269 6.1% 0.84%;

    --muted: 269 6.1% 92.1%;
    --muted-foreground: 269 3.05% 42.1%;

    --popover: 269 41.2% 92.1%;
    --popover-foreground: 269 6.1% 1.05%;

    --card: 269 41.2% 92.1%;
    --card-foreground: 269 6.1% 1.05%;

    --border: 269 11.1% 89.84%;
    --input: 269 11.1% 89.84%;

    --primary: 269 61% 21%;
    --primary-foreground: 269 1.22% 92.1%;

    --secondary: 269 3.05% 96.05%;
    --secondary-foreground: 269 4.66% 12.1%;

    --accent: 269 3.05% 96.05%;
    --accent-foreground: 269 4.66% 12.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 269 61% 21%;
    --radius: 0.5rem;
  }
}

* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
